@import url('https://fonts.googleapis.com/css?family=Lobster|Cabin');

body{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
#content {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
}
header {
    background-color: #396E94;
    display: grid;
    grid-area: header;

    
}
header h1 {
    font-family: 'Lobster', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 100px;
    color: white;
    grid-area: header;
}
nav a {
    text-align: center;
    color:aquamarine;
    text-decoration: none;
    padding: 35px;
    margin-right: auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #b3001b;
    color: #d9c2a3;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    background-color:#6B7FD7;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: row1-start;
    grid-row-end: 2;
}
footer {
    background-color:#396e94;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: footer;
}
footer h3 {
    color:white;
}
footer a {
    color:white;
    text-decoration: none;
}
footer a:hover {
    color: #b3001b;
    text-decoration: underline;
}
.home-grid {
    display: grid;
    margin-top: 100px;
    margin-bottom: 100px;
}
#home-img {
    grid-area: main;
    border: 10px solid #6B7FD7;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    grid-area: sidebar;
    background-color: #6B7FD7;
    line-height: 1.5em;
    padding: 35px;
    } 
}
.msg h2 {
    color: #b3001b;
    font-size: 100px;
}
.what_is-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 100px;

}